.mov-store-header {
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.header-top-desktop {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header-logo,
.header-navigation,
.header-user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;
    /* background-color: rgb(232, 238, 244); */
}

.header-user {
    justify-content: center;
}

.header-content {
    width: 100%;
    height: auto;
    background-image: url('../img/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1194/497;
}

.header-content-img {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-footer1 {
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: .4;
    width: 100%;
    height: 45px;
    z-index: 1;
}

.header-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.footer-movie-info,
.footer-statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;

    color: white;
}


.footer-statistics {
    width: 19%;
}

.footer-statistics div {
    display: inline;
}

.footer-statistics img {
    margin: 0 6px 0 0;
    align-self: flex-end;
}

.footer-movie-info {
    width: 49%;
}

.red {
    color: red;

}

.footer-published {
    margin-left: 5%;
}

.footer-save {
    margin-right: 15%;
}

.header-top-mobile {
    display: none;
}
.header-navigation img{
    width: 15px;
    height: 15px;
}

@media(max-width: 1300px) {
    .footer-movie-info {
        width: 59%;
    }

    .header-content {
        width: 100%;
        height: 497px;
    }
}

@media(max-width: 1000px) {
    .header-img-01 {
        width: 33%;
    }

    .header-img-02 {
        width: 46%;
    }

    .footer-movie-info {
        width: 69%;
    }

    .footer-statistics {
        width: 29%;
    }

    .header-content {
        background-position: 14% top;
    }
}

@media(max-width: 900px) {
    .header-footer {
        font-size: 12px;
    }

}

@media(max-width: 767px) {
    .header-top-desktop {
        display: none;
    }

    .header-content {
        height: 400px;
    }

    .header-top-mobile {
        width: 100%;
        display: flex;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-mobile-top {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .header-navigation-mobile {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .header-navigation-mobile img{
        width: 18px;
        height: 18px;
        
    }

    .header-footer,
    .header-footer1 {
        flex-direction: column;
        justify-content: center;
        height: 64px;
    }

    .footer-movie-info,
    .footer-statistics {
        width: 92%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-statistics {
        justify-content: flex-end;
    }
    .footer-statistics div:nth-child(-n+2){
        margin-right: 2%;
    }

    .footer-img-star {
        width: 46px;
    }

    .footer-img {
        width: 11px;
    }
    .footer-save {
        margin-right: 0;
    }
    .footer-published {
        margin-left: 0;
    }
}


@media(max-width: 580px) {
    .header-content {
        height: 340px;
        background-position: 20% top;
    }

}

@media(max-width: 460px) {
    .header-content {
        background-position: 30% top;
    }
    .header-footer {
        font-size: 10px;
    }

}

@media(max-width: 365px) {
    .header-content {
        height: 280px;
    }
    .header-footer {
        font-size: 9px;
    }
}

@media(max-width: 317px) {
    .header-logo-mobile-img-photo {
        display: none;
    }
    .header-footer {
        font-size: 8px;
    }
}
@media(max-width: 300px) {    
    .header-footer {
        font-size: 6px;
    }
}