* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.mov-store-wrapper {
    width: 100%;
    min-height: 100vh;
    height: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mov-store-container {
    width: 1680px;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
   
}
